<form #formArea="ngForm" (ngSubmit)="calculateArea()">
  <h4>Enter {{figureObj.name}} Dimensions</h4>
  <label class="spacing">Enter {{figureObj.name}} SideA:</label>
  <input type="number" class="form-basic" name="sideA" [(ngModel)]="figureObj.dimensions.sideA" #sideA="ngModel" placeholder="SideA:" required>
  <br/><br/>
  <div *ngIf="sideA.invalid && (sideA.dirty || sideA.touched)" class="alert">
    <div *ngIf="sideA.errors.required">
      SideA is required
    </div>
  </div>
  <label class="spacing">Enter {{figureObj.name}} SideB:</label>
  <input type="number" class="form-basic" name="sideB" [(ngModel)]="figureObj.dimensions.sideB" #sideB="ngModel" placeholder="SideB:" required>
  <br/><br/>
  <div *ngIf="sideB.invalid && (sideB.dirty || sideB.touched)" class="alert">
    <div *ngIf="sideB.errors.required">
      SideB is required
    </div>
  </div>
  <label class="spacing">Enter {{figureObj.name}} SideC:</label>
  <input type="number" class="form-basic" name="sideC" [(ngModel)]="figureObj.dimensions.sideC" #sideC="ngModel" placeholder="SideC:" required>
  <br/><br/>
  <div *ngIf="sideC.invalid && (sideC.dirty || sideC.touched)" class="alert">
    <div *ngIf="sideC.errors.required">
      SideC is required
    </div>
  </div>
  <input class="btn btn-success" type="submit" [disabled]="formArea.invalid" value="Submit">
</form>