<form #formArea="ngForm" (ngSubmit)="performCalculation(formArea)">
  <h4>Enter {{figureObj.name}} Dimensions</h4>
  <div *ngFor="let edge of figureObj.figureEdges">
    <label class="spacing">Enter {{figureObj.name}} {{edge.caption}}: </label>
    <input type="number" default=-1 class="form-basic spacing" name={{edge.caption}} [(ngModel)]="edge.value" #inputControl="ngModel" placeholder="{{edge.caption}}:" required>
    <br/><br/>
    <div *ngIf="inputControl.invalid && (inputControl.dirty || inputControl.touched)" class="alert alert-danger">
      <div *ngIf="inputControl.errors.required">
        {{edge.caption}} is mandatory
      </div>
    </div>
  </div>
  <button class="btn btn-default btn-success" type="submit" [disabled]="formArea.invalid">Submit</button>
</form>