<form #formArea="ngForm" (ngSubmit)="calculateArea()">
  <h4>Enter {{figureObj.name}} Dimensions</h4>
  <label class="spacing">Enter {{figureObj.name}} Side: </label>
  <input type="number" class="form-basic" name="side" [(ngModel)]="figureObj.dimensions.side" #side="ngModel" placeholder="Side:" required>
  <br/><br/>
  <div *ngIf="side.invalid && (side.dirty || side.touched)" class="alert">
    <div *ngIf="side.errors.required">
      Side is required
    </div>
  </div>
  <input class="btn btn-success" type="submit" [disabled]="formArea.invalid" value="Submit">
</form>