<div class="jumbotron">
    <h2>Area Calculator</h2>
    <label class="spacing">Calculate Area For:</label>
    <select [(ngModel)]="selectedFigure.name" (change)="selectOperation()" class="spacing" name="selectOperation" required>
      <option *ngFor = "let figure of figures">{{figure.name}}</option>
    </select>
    <br/><hr/>
    <app-circle *ngIf="selectedFigure.name === 'Circle'" [figureObj]='setFigureObj()' (setArea)='getArea($event)'></app-circle>
    <app-rectangle *ngIf="selectedFigure.name === 'Rectangle'" [figureObj]='setFigureObj()' (setArea)='getArea($event)'></app-rectangle>
    <app-square *ngIf="selectedFigure.name === 'Square'" [figureObj]='setFigureObj()' (setArea)='getArea($event)'></app-square>
    <app-triangle *ngIf="selectedFigure.name === 'Triangle'" [figureObj]='setFigureObj()' (setArea)='getArea($event)'></app-triangle>
</div>

<app-draw [drawFigure]='setSelectedFigure()'></app-draw>
<div class="card-body">
  <div style="margin-top: 15px;">
		<div class="alert alert-success" role="alert" *ngIf="alertMessage">
			{{alertMessage}}
		</div>
	</div>
</div>